<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.ktl.user.dao.SmsInfoDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		mobile,
		userid,
		qrcode,
		create_date as createDate,
		update_date as updateDate
    </sql>
    
	<sql id="insertFields">
		id,
		mobile,
		userid,
		qrcode,
		create_date,
		update_date
    </sql>
	
	<insert id="insert" parameterType="com.kensure.ktl.user.model.SmsInfo">
		insert into sms_info (<include refid="insertFields"/>)
		values (
			#{id},
			#{mobile},
			#{userid},
			#{qrcode},
			#{createDate},
			#{updateDate}
		)
	</insert>
	
	<insert id="insertInBatch" parameterType="com.kensure.ktl.user.model.SmsInfo">
		insert into sms_info (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.mobile},
				#{item.userid},
				#{item.qrcode},
				#{item.createDate},
				#{item.updateDate}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test="mobile != null">			
			mobile = #{mobile}			
		</if>
		<if test="userid != null">			
			and userid = #{userid}			
		</if>
		<if test="qrcode != null">			
			and qrcode = #{qrcode}			
		</if>
		<if test="createDate != null">			
			and create_date = #{createDate}			
		</if>
		<if test="updateDate != null">			
			and update_date = #{updateDate}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.ktl.user.model.SmsInfo" parameterType="Long" >
		select <include refid="allFields"/> 
		  from sms_info 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.ktl.user.model.SmsInfo">
		select <include refid="allFields"/> from sms_info 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
		
	<select id="selectAll" resultType="com.kensure.ktl.user.model.SmsInfo">
		select <include refid="allFields"/> 
		from sms_info 
	</select>

	<select id="selectCount" resultType="long">
		select count(*) from sms_info 
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from sms_info 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.ktl.user.model.SmsInfo">
		select <include refid="allFields"/>
		from sms_info 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="mobile != null">
			mobile = #{mobile},
		</if>
		<if test="userid != null">
			userid = #{userid},
		</if>
		<if test="qrcode != null">
			qrcode = #{qrcode},
		</if>
		<if test="createDate != null">
			create_date = #{createDate},
		</if>
		<if test="updateDate != null">
			update_date = #{updateDate}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.ktl.user.model.SmsInfo">
		 update sms_info 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update sms_info 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sms_info where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from sms_info
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from sms_info 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
