<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.ktl.user.dao.LoanMoneyDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		money,
		userid,
		status,
		resultrem,
		create_date as createDate,
		update_date as updateDate
    </sql>
    
	<sql id="insertFields">
		id,
		money,
		userid,
		status,
		resultrem,
		create_date,
		update_date
    </sql>
	
	<insert id="insert" parameterType="com.kensure.ktl.user.model.LoanMoney">
		insert into loan_money (<include refid="insertFields"/>)
		values (
			#{id},
			#{money},
			#{userid},
			#{status},
			#{resultrem},
			#{createDate},
			#{updateDate}
		)
	</insert>
	
	<insert id="insertInBatch" parameterType="com.kensure.ktl.user.model.LoanMoney">
		insert into loan_money (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.money},
				#{item.userid},
				#{item.status},
				#{item.resultrem},
				#{item.createDate},
				#{item.updateDate}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test="money != null">			
			money = #{money}			
		</if>
		<if test="userid != null">			
			and userid = #{userid}			
		</if>
		<if test="status != null">			
			and status = #{status}			
		</if>
		<if test="resultrem != null">			
			and resultrem = #{resultrem}			
		</if>
		<if test="createDate != null">			
			and create_date = #{createDate}			
		</if>
		<if test="updateDate != null">			
			and update_date = #{updateDate}			
		</if>
		<if test="fromdate != null">	
		<![CDATA[		
			and create_date >= #{fromdate}		
		]]>	
		</if>
		<if test="todate != null">		
		<![CDATA[		
			and create_date <= #{todate}		
		]]>		
		</if>
		<if test="statusisnull != null">			
			and status is null			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.ktl.user.model.LoanMoney" parameterType="Long" >
		select <include refid="allFields"/> 
		  from loan_money 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.ktl.user.model.LoanMoney">
		select <include refid="allFields"/> from loan_money 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
		
	<select id="selectAll" resultType="com.kensure.ktl.user.model.LoanMoney">
		select <include refid="allFields"/> 
		from loan_money 
	</select>

	<select id="selectCount" resultType="long">
		select count(*) from loan_money 
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from loan_money 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.ktl.user.model.LoanMoney">
		select <include refid="allFields"/>
		from loan_money 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
		<if test="limit != null">
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="money != null">
			money = #{money},
		</if>
		<if test="userid != null">
			userid = #{userid},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
		<if test="resultrem != null">
			resultrem = #{resultrem},
		</if>
		<if test="createDate != null">
			create_date = #{createDate},
		</if>
		<if test="updateDate != null">
			update_date = #{updateDate}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.ktl.user.model.LoanMoney">
		 update loan_money 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update loan_money 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from loan_money where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from loan_money
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from loan_money 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
